<div class="main">
  <div class="main-container">
    <div class="title">{{ 'Auth:Signin' | translate }}</div>
    <form [formGroup]="form">
      <div>
        <input class="name"
               type="email"
               placeholder="{{ 'Auth:Email' | translate }}"
               formControlName="email"
        >
        <div class="password-container">
          <input class="password"
                 type="{{ showPassword ? 'text' : 'password' }}"
                 placeholder="{{ 'Auth:Password' | translate }}"
                 formControlName="password"
          >
          <button class="show-password"
                  type="button"
                  aria-label="Show the password"
                  (click)="togglePasswordVisibility()"
          >
            <img src="../../../../assets/images/eye.svg" class="img-eye" alt="Show the password">
          </button>
        </div>
      </div>
      <div class="enter-wrapper">
        <button class="create-project" (click)="login()">{{ 'Auth:Signin' | translate }}</button>
        <a [routerLink]="['/registration']" class="enter">
          <span>{{ 'Auth:Signup' | translate }}</span>
        </a>
      </div>
      <label class="checkbox-custom-label">
        <input type="checkbox" id="myCheckbox" name="myCheckbox" class="checkbox-custom">
        {{ 'Auth:Remember' | translate }}
      </label>
      <a [routerLink]="['/forget-password']" class="forget-password">
        <span>{{ 'Auth:Forget-password' | translate }}</span>
      </a>
    </form>
    <div class="registration-with">{{ 'Auth:Registration-with' | translate }}</div>
    <div class="outside-resource">
      <button class="button-outside-resource-github" type="button" aria-label="GitHub">
        <img
          src="../../../../assets/images/Icon_github.svg"
          class="img-outside-resource" alt="Github">
      </button>
      <button class="button-outside-resource-google" type="button" aria-label="Google">
        <img
          src="../../../../assets/images/Icon_google.svg"
          class="img-outside-resource" alt="Google">
      </button>
    </div>
  </div>
</div>
