<app-navigation [navigationButtons]="navigationButtons"></app-navigation>

<button class="block-content" *ngFor="let item of data" (click)="goToDetails(item.id)">
  <img [src]="item.imageUrl" alt="" class="image">
  <span class="status">{{item.statusName}}</span>
  <div class="info">
    <div class="name">{{item.name}}</div>
    <div class="domain-name">{{item.domainName}}</div>
    <div class="description">{{item.description}}</div>

    <div class="futer">
      <div class="position">12 Открытых позиций</div>
      <app-like

        [isTotal] = "true"
        [total]="item.like.likes"
        [isLike] = "item.like.isLike"
        [serviceName]="service"
        [entityName]="'project/like'"
        class="like"
        (click)="like($event, item.like)"></app-like>
    </div>
  </div>
</button>

<ng-container *ngIf="pageCount > 0">
  <app-pagination
    [pageCount]="pageCount"
    [take]="maxResultCount"
  ></app-pagination>
</ng-container>
