.input-control {
  width: 100%;;
  height: 40px;
  background-color: #2B2C30;
  border-radius: 20px;
  border: 1px solid var(--Gradient-Secondary-searsh_stroke, rgba(0, 0, 0, 0));
  margin: 0 0 16px 0;
  font: 510 16px/120% SF Pro, sans-serif;
  color: white;
  padding: 0 40px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  margin: 13px 0 0 13px;
}
