<div class="main">
  <div class="first-block">
    <app-common-layer
      [isHome]="true"
    ></app-common-layer>
    <div class="title">{{'Home:Title' | translate}}</div>
    <div class="first-description">{{'Home:First-description' | translate}}</div>
    <div class="firs-block-buttons">
      <button
        class="create-project"
        type="button"
        (click)="goToCreateProject()"
      >{{ 'Home:CreateProject' | translate }}</button>
      <button
        class="find-project"
        type="button"
        (click)="goToFindProject()"
      >{{ 'Home:FindProject' | translate }}</button>
    </div>
  </div>
  <div class="paragraph-about" id="paragraph-about">{{ 'Home:About' | translate}}</div>
  <div class="second-description">{{ 'Home:Second-description' | translate }}</div>
  <!--<img src="assets/images/boat.png" class="boat">-->
  <div class="paragraph-projects" id="paragraph-projects">{{ 'Home:Projects' | translate }}</div>
  <div class="third-description">{{ 'Home:Third-description' | translate }}</div>
  <div class="second-block-buttons">
    <button
      class="create-project"
      type="button"
    >{{ 'Home:CreateProject' | translate }}</button>
  </div>
</div>

<div class="go-back" [class.show]="showScrollIndicator" (click)="scrollToTop()">
</div>
