<app-navigation [navigationButtons]="navigationButtons"></app-navigation>

<form
  [formGroup]="projectForm"
  novalidate
  (ngSubmit)="onSubmit()"
>
 <div class="form-control">
   <div class="name-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Name' | translate }}
       </div>
       <div class="required">
         *
       </div>
     </div>
     <div
       class="error"
       [style.color]="projectForm.controls.name.invalid && projectForm.controls.name.touched ? 'red' : '#393A3F'">
       {{ 'Error:Required' | translate }}
     </div>

     <div class="input-container">
       <input
         class="input-control"
         placeholder="{{'Project:Input:Name' | translate}}"
         formControlName="name"
         [ngClass]="{ invalid: projectForm.controls.name.invalid && projectForm.controls.name.touched }"
       >
       <div
         class="count"
         [style.color]="projectForm.controls.name.invalid && projectForm.controls.name.touched ? 'red' : '#828180'"
       >{{getCount('name')}}/{{nameLength}}</div>
     </div>
   </div>

   <div class="description-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Description' | translate }}
       </div>
       <div class="required">
         *
       </div>
     </div>
     <div
       class="error"
       [style.color]="projectForm.controls.description.invalid && projectForm.controls.description.touched ? 'red' : '#393A3F'">
       {{ 'Error:Required' | translate }}
     </div>

     <div class="input-container">
       <textarea
         placeholder="{{'Project:Input:Description' | translate}}"
         formControlName="description"
         [ngClass]="{ invalid: projectForm.controls.description.invalid && projectForm.controls.description.touched }">
       </textarea>
       <div
         class="count-description"
         [style.color]="projectForm.controls.description.invalid && projectForm.controls.description.touched ? 'red' : '#828180'"
       >{{getCount('description')}}/{{descriptionLength}}</div>
     </div>
   </div>

   <div class="domain-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Domain' | translate }}
       </div>
       <div class="required">
         *
       </div>
     </div>
     <div
       class="error"
       [style.color]="projectForm.controls.domain.invalid && projectForm.controls.domain.touched ? 'red' : '#393A3F'">
       {{ 'Error:Required' | translate }}
     </div>
     <app-dropdown
       class="dropdown"
       [valueField]="'id'"
       [textField]="'name'"
       [serviceName]="domainService"
       [entity]="domainEntity"
       (valueChange)="onValueChange($event, 'domain')"
       ngDefaultControl>
     </app-dropdown>
   </div>

   <div class="position-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Position' | translate }}
       </div>
       <div class="required">
         *
       </div>
     </div>
     <div
       class="error"
       [style.color]="projectForm.controls.positions.invalid && projectForm.controls.positions.touched ? 'red' : '#393A3F'">
       {{ 'Error:Required' | translate }}
     </div>
     <div class="input-container">
       <input
         class="input-control"
         placeholder="{{'Project:Input:Position' | translate}}"
         formControlName="positions"
         [ngClass]="{ invalid: projectForm.controls.positions.invalid && projectForm.controls.positions.touched }"
       >
       <div
         class="count"
         [style.color]="projectForm.controls.positions.invalid && projectForm.controls.positions.touched ? 'red' : '#828180'"
       >{{getCount('positions')}}/{{positionLength}}</div>
     </div>
   </div>

   <div class="position-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Status' | translate }}
       </div>
       <div class="required">
         *
       </div>
     </div>
     <div
       class="error"
       [style.color]="projectForm.controls.status.invalid && projectForm.controls.status.touched ? 'red' : '#393A3F'">
       {{ 'Error:Required' | translate }}
     </div>
     <app-dropdown
       class="dropdown"
       [valueField]="'id'"
       [textField]="'name'"
       [serviceName]="statusService"
       [entity]="statusEntity"
       (valueChange)="onValueChange($event, 'status')"
       ngDefaultControl>
     </app-dropdown>
   </div>

   <div class="link-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Link' | translate }}
       </div>
     </div>
     <div class="error"></div>

     <div class="input-container">
       <input
         class="input-control"
         placeholder="{{'Project:Input:Link' | translate}}"
         formControlName="projectLink"
       >
     </div>
   </div>

   <div class="link-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Git' | translate }}
       </div>
     </div>
     <div class="error"></div>

     <div class="input-container">
       <input
         class="input-control"
         placeholder="{{'Project:Input:Link' | translate}}"
         formControlName="gitLink"
       >
     </div>
   </div>

   <div class="image-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Image' | translate }}
       </div>
     </div>

     <div class="input-container">
       <label class="custom-file-upload">
         <input type="file" (change)="loadFile($event)">
         <img [src]="imageUrl" alt="Upload File" class="image">
       </label>
     </div>
     <div class="image-input-description">
      {{ 'Project:Details:Image:Description' | translate }}
     </div>
   </div>

   <div class="documents-control">
     <div>
       <div class="title-name">
         {{ 'Project:Details:Documents' | translate }}
       </div>
     </div>

     <div class="content">
       <div class="documents-wrapper">
         <div class="documents" *ngFor="let item of documents">
           <img [src]="item.url" alt="Upload File" class="document-image">
         </div>
       </div>
       <label class="custom-file-upload-document">
         <input type="file" (change)="loadDocument($event)">
         <img src="./assets/images/document-avatar.png" alt="Upload File" class="document-avatar">
       </label>
     </div>
   </div>

   <div class="create-button">
     <button class="green-button">{{ 'Hider:Button:CreateProject' | translate }}</button>
   </div>
 </div>
</form>
