.main {
  background-color: #393A3F;
  width: 1000px;
  height: 360px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  padding: 80px;
  box-sizing: border-box;
  display: flex;
}

.logo {
  width: 200px;
  height: 200px;
}

.message {
  font-size: 24px;
  text-align: center;
  font-family: 'SF Pro', sans-serif;
  margin-top: 10px;
  color: white;
}

.input-mail {
  height: 48px;
  border-radius: 24px;
  width: 100%;
  padding-left: 26px;
  box-sizing: border-box;
  border: 1px solid var(--Gradient-Secondary-searsh_stroke, rgba(0, 0, 0, 0));
  background-color: var(--Gradient-Secondary-search_gradient, rgba(0, 0, 0, 0.25));
  font: 510 16px/120% SF Pro, sans-serif;
  margin: 10px 0 20px 0;
  color: white;
}

.container-input {
  margin-left: 20px;
}

.send-button {
  border-radius: 24px;
  width: 100%;
  height: 48px;
  background-color: #00d128;
  font-family: 'SF Pro', sans-serif;
  cursor: pointer;
  font-size: 18px;
  color: var(--Primary-white_primary, #fff);
  border: 1px solid var(--Gradient-Secondary-searsh_stroke, rgba(0, 0, 0, 0));
}

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1170px) {

}

@media screen and (max-width: 1024px) {
  .main {
    width: 700px;
  }

  .message {
    font-size: 20px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 700px;
  }

  .message {
    font-size: 18px;
  }
}

@media screen and (max-width: 428px) {
  .main {
    width: 100%;
    border-radius: 0;
  }

  .logo {
    display: none;
  }

  .container {
    padding: 80px 20px 20px 20px;
  }

  .container-input {
    margin-left: 0;
  }
}
