<div class="main">
  <div class="container">
    <img
      src="assets/images/logo2.png"
      class="logo"
      alt="Logo"
    >
    <div class="container-input">
      <div class="message">{{ 'ForgetPassword:Title' | translate }}</div>
      <form [formGroup]="form" novalidate (ngSubmit)="submit()">
        <input
          class="input-mail"
          type="email"
          placeholder="Email"
          formControlName="email"
        >
        <button
          class="send-button"
          aria-label="Send"
        >{{ 'ForgetPassword:Send' | translate }}</button>
      </form>
    </div>
  </div>
</div>
