@import '../../../variables.scss';

.main {
  width: $menu-width;
  background: linear-gradient(135deg, #626366, #2b2c31);
  border-radius: 24px;
  transition: width 0.3s ease, height 0.3s ease;
  margin-right: 20px;
}

.main-close {
  width: 55px;
  background-color: #393A3F;
  border-radius: 24px;
  transition: width 0.3s ease, height 0.3s ease;
}

.main-container {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}

.img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 8px;
}

.block {
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.text {
  color:  #FFFFFF;
  font-family: 'SF Pro', sans-serif;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.gear,
.question-circle,
.chat,
.person-check,
.file-check,
.personal-data,
.files {
  display: flex;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: 'SF Pro', sans-serif;
  align-items: center;
  margin: 0;
  visibility: visible;
  transition: visibility 0.3s ease;
  height: 36px;
}

.expanded .gear .question-circle .chat .person-check .file-check .personal-data .files {
  visibility: hidden;
}

.bottom-block {
  margin-top: 110px;
}

.burger {

}

.burger-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.allow {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}

button {
  transition: transform 0.3s ease;
  transform-origin: center;
  height: 35px;
}

.rotated {
  transform: rotate(90deg);
}

.active {
  display: flex;
  cursor: pointer;
  border: none;
  text-decoration: none;
  //font-size: 16px;
  color: white;
  font-family: 'SF Pro', sans-serif;
  align-items: center;
  margin: 0;
  visibility: visible;
  transition: visibility 0.3s ease;
  height: 36px;
  background-color: #757579;
  border-radius: 16px;
}
