<div class="main">
  <div class="first-block">
    <div class="hider-home">
      <div class="logo-wrapper">
        <button type="button"
                aria-label="Home"
                class="button-logo"
        >
          <img src="assets/images/logo.png"
               alt="logo"
               class="logo"
          >
        </button>
        <div class="projectvil">Projectvil</div>
      </div>
      <app-language class="languages"></app-language>
      <div class="menu">
        <a [routerLink]="['/home']" fragment="paragraph-about" class="about">{{ 'Home:About' | translate }}</a>
        <a [routerLink]="['/home']" fragment="paragraph-projects" class="projects">{{ 'Home:Projects' | translate }}</a>
        <a href="#" class="participants">{{ 'Home:Participants' | translate }}</a>
        <a href="#" class="vacancies">{{ 'Home:Vacancies' | translate }}</a>
        <button class="button-enter"
                type="button"
                (click)="enter()"
        >{{'Home:Signin' | translate}}</button>
        <button type="button"
                aria-label="Регистрация"
                class="button-registration"
                (click)="registration()"
        >{{'Home:Signup' | translate}}</button>
      </div>
      <button class="burger-menu"
              type="button"
              aria-label="Меню"
      >
        <img src="assets/images/3190_frame.png"
             alt="меню"
             class="burger-image"
             (click)="menu()"
        >
      </button>
    </div>
    <div class="title">{{'Home:Title' | translate}}</div>
    <div class="first-description">{{'Home:First-description' | translate}}</div>
    <div class="firs-block-buttons">
      <button class="create-project"
              type="button"
              aria-label="Создать проект"
      >{{ 'Home:CreateProject' | translate }}</button>
      <button class="find-project"
              type="button"
              aria-label="Найти проект"
      >{{ 'Home:FindProject' | translate }}</button>
    </div>
  </div>
  <div class="paragraph-about" id="paragraph-about">{{ 'Home:About' | translate}}</div>
  <div class="second-description">{{ 'Home:Second-description' | translate }}</div>
  <img src="assets/images/boat.png" class="boat">
  <div class="paragraph-projects" id="paragraph-projects">{{ 'Home:Projects' | translate }}</div>
  <div class="third-description">{{ 'Home:Third-description' | translate }}</div>
  <div class="second-block-buttons">
    <button class="create-project"
            type="button"
            aria-label="Создать проект"
    >{{ 'Home:CreateProject' | translate }}</button>
  </div>
</div>
