.main {
  width: 100%;
  height: 9082px;
  background: #000000;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  overflow: hidden;
}

.test {
  width: 200px;
  display: block;
}

.first-block {
  width: 100%;
  height: 1088px;
  box-sizing: border-box;
  background-image:  radial-gradient(90% 60% ellipse, rgba(0, 0, 0, 0) -30%, #000 86.28%), url("../../../../assets/images/home-background.png");
  background-size: cover;
  background-position: center;
  position: absolute;
}

.hider-home {
  height: 48px;
  margin: 64px 82px;
  box-sizing: border-box;
}

.logo-wrapper {
  width: 235px;
  height: 48px;
  position: absolute;
}

.button-logo {
  width: 44px;
  height: 44px;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
}

.logo {
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.projectvil {
  font-size: 36px;
  color: white;
  font-family: 'SF Pro', sans-serif;
  float: left;
  margin: 0 0 0 68px;
}

.menu {
  float: right;
  display: inline-flex;
  align-items: center;
}

.languages {
  float: right;
  display: block;
}

.about,
.projects,
.participants,
.vacancies {
  color: white;
  font-size: 20px;
  width: 170px;
  padding: 7px 0 7px 0;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
}

.button-enter {
  width: 130px;
  height: 48px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 24px;
  font-weight: bold;
  margin: 0 10px;
}

.button-registration {
  width: 185px;
  height: 48px;
  cursor: pointer;
  border-radius: 24px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: 2px solid white;
  margin: 0 10px;
}

.burger-menu,
.burger-image {
  display: none;
  border-radius: 24px;
  width: 56px;
  height: 56px;
  background-color: transparent;
}

.burger-menu {
  cursor: pointer;
  border: none;
}

.title {
  font-size: 96px;
  text-align: center;
  margin-top: 223px;
  font-family: 'SF Pro', sans-serif;
}

.first-description,
.second-description,
.third-description {
  font-size: 32px;
  text-align: center;
  margin: 0 64px;
  font-family: 'SF Pro', sans-serif;
}

.first-description {
  margin-top: 40px;
}

.second-description,
.third-description {
  margin-top: 80px;
}

.firs-block-buttons,
.second-block-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firs-block-buttons {
  margin-top: 98px;
}
.second-block-buttons {
  margin-top: 40px;
}

.create-project,
.find-project {
  width: 419px;
  height: 80px;
  cursor: pointer;
  border-radius: 40px;
  font-weight: bold;
  font-size: 32px;
}

.create-project {
  background-color: #00d128;
  font-size: 32px;
  border: 1px solid var(--Gradient-Secondary-searsh_stroke, rgba(0, 0, 0, 0));
}

.create-project:active {
  background-color: #00a01b;
}

.find-project {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: white;
}

.paragraph-about,
.paragraph-projects {
  font-size: 48px;
  text-align: center;
  margin-top: 1148px;
  font-family: 'SF Pro', sans-serif;
}

.paragraph-about {
  margin-top: 1148px;
}

.paragraph-projects {
  margin-top: 76px;
}

.boat {
  width: 100%;
  height: 1464px;
  margin-top: 118px;
}

.go-back {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.go-back button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.go-back button:hover {
  background-color: #0056b3;
}

.show {
  opacity: 1;
}

@media screen and (max-width: 1440px){
  .main {
    height: 7562px;
  }

  .first-block {
    height: 1088px;
  }

  .menu {
    display: none;
  }

  .burger-menu,
  .burger-image {
    float: right;
    display: block;
  }

  .boat {
    height: 1464px;
  }

  .languages {
    display: none;
  }

}

/*@media screen and (max-width: 1920px) {
  .main {
    width: 1920px;
    height: 8227px;
    background: #000000;
  }

  .first-main-wrapper {
    width: 1920px;
    height: 1108px;
  }
}

@media screen and (max-width: 1170px) {
  .main {
    width: 1170px;
    height: 5957px;
    background: #000000;
  }

  .first-main-wrapper {
    width: 1170px;
    height: 800px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    width: 1024px;
    height: 5711px;
    background: #000000;
  }

  .first-main-wrapper {
    width: 1024px;
    height: 768px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 768px;
    height: 6044px;
    background: #000000;
  }

  .first-main-wrapper {
    width: 768px;
    height: 848px;
  }
}

@media screen and (max-width: 428px) {
  .main {
    width: 428px;
    height: 7006px;
    background: #000000;
  }

  .first-main-wrapper {
    width: 428px;
    height: 471px;
  }
}*/
